<h1>Week <%= @week.week %> of <%= @season.year %></h1>

<p><%= link_to("Standings", standings_path) %></p>

<% if current_user %>
  <p>Hello, <%= current_user.name %>.</p>
<% end %>

<p>
  Picks are <%= @week.picks_locked?(current_time) ? "locked" : "open" %> for this week.
  <% unless @week.picks_locked?(current_time) %>
    Your pick can be changed until the first kickoff of the week.
  <% end %>
</p>

<% if @week.week > 1 %>
  <%= link_to "Week #{@week.week - 1}", schedule_path(@season.year, @week.week - 1) %>
  |
<% end %>
Week <%= @week.week %>
<% if @week.week < 18 %>
  |
  <%= link_to "Week #{@week.week + 1}", schedule_path(@season.year, @week.week + 1) %>
<% end %>

<%= form_with model: @weekly_pick, url: picks_path, local: true do |form| %>
  <%= @weekly_pick.errors.full_messages.first if @weekly_pick.errors.any? %>
  <%= form.hidden_field(:year) %>
  <%= form.hidden_field(:week_num) %>
  <table>
    <thead>
      <tr>
        <th>Kickoff</th>
        <th colspan="<%= @picks_allowed ? 3 : 2 %>">Home</th>
        <th colspan="<%= @picks_allowed ? 3 : 2 %>">Away</th>
      </tr>
    </thead>
    <tbody>
      <% @matchups.sort_by { _1.home.initials }.sort_by { _1.kickoff || Float::INFINITY }.each do |matchup| %>
        <tr>
          <td><%= matchup.kickoff&.strftime("%b %d @ %l:%M") || "TBD" %></td>

          <% disabled = @week.picks_locked?(current_time) %>
          <% disabled ||= (current_user&.used_teams(year: @season.year) || []).any? { |team| team.id == matchup.home_id } %>
          <% if @picks_allowed %>
            <td class="<%= "used_team" if disabled %>">
              <%= form.radio_button(:loser_id, matchup.home_id, disabled:) %>
            </td>
          <% end %>
          <% # team_logo_and_name = matchup.home.logo_url.present? ? image_tag(matchup.home.logo_url, alt: matchup.home.initials, width: 22) : "" %>
          <% team_logo_and_name = "" %>
          <% team_logo_and_name << " #{matchup.home.initials}" %>
          <td class="<%= "used_team" if disabled %> <%= "winning_team" if matchup.home_won? %>"><%= form.label("loser_id_#{matchup.home_id}", team_logo_and_name) %></td>
          <td class="<%= "winning_team" if matchup.home_won? %>"><%= matchup.home_score %></td>

          <% disabled = @week.picks_locked?(current_time) %>
          <% disabled ||= (current_user&.used_teams(year: @season.year) || []).any? { |team| team.id == matchup.away_id } %>
          <% if @picks_allowed %>
            <td class="<%= "used_team" if disabled %>">
              <%= form.radio_button(:loser_id, matchup.away_id, disabled:) %>
            </td>
          <% end %>
          <% # team_logo_and_name = matchup.away.logo_url.present? ? image_tag(matchup.away.logo_url, alt: matchup.away.initials, width: 22) : "" %>
          <% team_logo_and_name = "" %>
          <% team_logo_and_name << " #{matchup.away.initials}" %>
          <td class="<%= "used_team" if disabled %> <%= "winning_team" if matchup.away_won? %>"><%= form.label("loser_id_#{matchup.away_id}", team_logo_and_name) %></td>
          <td class="<%= "winning_team" if matchup.away_won? %>"><%= matchup.away_score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @picks_allowed %>
    <%= submit_tag("Pick Loser") %>
  <% end %>
<% end %>
